body{
    background-color: hsl(210, 46%, 95%);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.container{
    display: grid;
    height:80%;
    width: 60%;  
    grid-template-columns: repeat(4, 1fr); 
    grid-template-columns: repeat(4, 1fr);
    padding: 5%;
}
.container > div {
    border: 2px solid rgb(233, 171, 88);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5%;
    gap:10%;
    margin: 10px;

  }
.one {
    background-color: aquamarine;
    grid-column: 1/3 ;
    grid-row: 1/3;
  }
  .two {
    grid-column: 3;
    grid-row: 1/3 ;
  }
  .three {
    background-color: aquamarine;
    grid-column:4 ;
    grid-row: 1/5;
  }
  .four {
  
    grid-column: 1/2;
    grid-row: 3/5;
  }
  .five {
    grid-column: 2/4;
    grid-row: 3/5;
  }
  .one__title{
    display: flex;

  }
  .avatar{
    object-fit: cover;
    border-radius: 50%;
  }
  @media (max-width: 900px), (max-height: 680px) {
    .container {
      width: auto;
      height: auto; /* Allow height to adjust based on content */
      display: flex;
      flex-direction: column;
    }
}