body{
    background-color: hsl(210, 46%, 95%);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.container{
    display: grid;
    height:80%;
    width: 80%;   
}
.container > div {
    border: 2px solid rgb(233, 171, 88);
    border-radius: 5px;
    margin: 2%;

  }
.one {
    grid-column: 1/4 ;
    grid-row: 1/3;
  }
  .two {
    grid-column: 4/6 ;
    grid-row: 1/3 ;
  }
  .three {
 
    grid-column: 6/8;
    grid-row: 1/5;
  }
  .four {
  
    grid-column: 1/2;
    grid-row: 3/5;
  }
  .five {
    grid-column: 2/6;
    grid-row: 3/5;
  }